# Ignore user-specific data, downloaded content, and caches
user_data/
__pycache__/
*.pyc
*.pyo
*.pyd
posts.url-normalized.json
patch_instructions.txt
patcher.py
/build/
/dist/
*.spec



# If you have these folders directly in the root (before user_data was created)
# Or if you want to be extra sure even if they are in user_data.
q_images/
linked_articles/

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific (optional, but good practice)
.vscode/
.idea/
*.swp
*.swo